{% extends 'layout.html' %}
{% block body %}
<div class="container mt-2">
  <div class="row">
    <div class="col">
      <form>
        <fieldset>
        <legend>{{ motors.X.name }}&nbsp;&lrarr;</legend>
        <div class="form-group">
          <label for="slider"></label>
          <input
            id="sliderX"
            type="range"
            min="{{ motors.X.min_position }}"
            max="{{ motors.X.max_position }}"
            value="{{ motors.X.position }}"
            class="w-100 text-center"
          />
        </div>
        <div class="form-group">
          <label for="sliderPosition">Slider Position</label>
          <input
            id="sliderPositionX"
            type="number"
            value="{{ motors.X.position }}"
            class="w-100 text-center"
            disabled
          />
        </div>
        <div class="form-group">
          <label for="desiredPosition">Desired Position</label>
          <input
            id="desiredPositionX"
            type="number"
            value="{{ motors.X.position }}"
            class="w-100 text-center"
            disabled
          />
        </div>
        <div class="form-group">
          <label for="currentPosition">Current Position</label>
          <input
            id="currentPositionX"
            type="number"
            value="{{ motors.X.position }}"
            class="w-100 text-center"
            disabled
          />
        </div>
        </fieldset>
      </form>
    </div>
    <div class="col">
      <form>
        <fieldset>
        <legend>{{ motors.Y.name }}&nbsp;&udarr;</legend>
        <div class="form-group">
          <label for="Yslider"></label>
          <input
            id="sliderY"
            type="range"
            min="{{ motors.Y.min_position }}"
            max="{{ motors.Y.max_position }}"
            value="{{ motors.Y.position }}"
            class="w-100 text-center"
          />
        </div>
        <div class="form-group">
          <label for="sliderPositionY">Slider Position</label>
          <input
            id="sliderPositionY"
            type="number"
            value="{{ motors.Y.position }}"
            class="w-100 text-center"
            disabled
          />
        </div>
        <div class="form-group">
          <label for="desiredPositionY">Desired Position</label>
          <input
            id="desiredPositionY"
            type="number"
            value="{{ motors.Y.position }}"
            class="w-100 text-center"
            disabled
          />
        </div>
        <div class="form-group">
          <label for="currentPositionY">Current Position</label>
          <input
            id="currentPositionY"
            type="number"
            value="{{ motors.Y.position }}"
            class="w-100 text-center"
            disabled
          />
        </div>
        </fieldset>
      </form>
        </fieldset>
      </form>
    </div>
    <div class="col">
      <form>
        <fieldset>
        <legend>{{ motors.Z.name }}&nbsp;&empty;</legend>
        <div class="form-group">
          <label for="sliderZ"></label>
          <input
            id="sliderZ"
            type="range"
            min="{{ motors.Z.min_position }}"
            max="{{ motors.Z.max_position }}"
            value="{{ motors.Z.position }}"
            class="w-100 text-center"
          />
        </div>
        <div class="form-group">
          <label for="sliderPositionZ">Slider Position</label>
          <input
            id="sliderPositionZ"
            type="number"
            value="{{ motors.Z.position }}"
            class="w-100 text-center"
            disabled
          />
        </div>
        <div class="form-group">
          <label for="desiredPositionZ">Desired Position</label>
          <input
            id="desiredPositionZ"
            type="number"
            value="{{ motors.Z.position }}"
            class="w-100 text-center"
            disabled
          />
        </div>
        <div class="form-group">
          <label for="currentPositionZ">Current Position</label>
          <input
            id="currentPositionZ"
            type="number"
            value="{{ motors.Z.position }}"
            class="w-100 text-center"
            disabled
          />
        </div>
        </fieldset>
      </form>
        </fieldset>
      </form>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <button id="presetButtonA" class="btn btn-primary btn-block" role="button">Preset A</button>
    </div>
    <div class="col">
      <button id="presetButtonB" class="btn btn-danger btn-block" role="button">Preset B</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <ul id="logs"></ul>
    </div>
  </div>
</div>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='index.js' )}}"
></script>
{% endblock %}
