# /etc/systemd/system/microbot.service
[Unit]
Description=microbot service
Requires=microbot.socket
After=network.target

[Service]
Type=notify
# must run as root-enabled user to access GPIO functionality
User=pi
Group=pi
RuntimeDirectory=gunicorn
WorkingDirectory=/home/pi/microbot
ExecStart=/home/pi/microbot/env/bin/python3 -m gunicorn \
    'microbot.core:create_app()' \
    --name=microbot \
    --workers=1 \
    --worker-connections=1000 \
    -k gevent
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
